<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Employee Details</p>
    <table>
        <tr>
          <th>LEAVE ID</th>
          <th>EMPLOYEE NAME</th>
          <th>DEPARTMENT</th>
          <th>REQUEST TYPE</th>
          <th>FROM DATE</th>
          <th>TO DATE</th>
          <th>REASON</th>
        </tr>

<%for(let i = 0; i < empdetails.length; i++) {%>
<tr>
<td> <p style="color:grey"><%= empdetails[i]["LEAVEID"]["_text"] %> </p></td>
  <td>
    <p style="color:grey"><%= empdetails[i]["EMPLOYEE_NAME"]["_text"]%></p>
  </td>
  <td>
    <p style="color:grey"><%= empdetails[i]["EMPLOYEE_DEPT"]["_text"]%></p>
  </td>
  <td>
    <p style="color:grey"><%= empdetails[i]["RFMNG"]["_text"]%></p>
  </td>
  <td>
    <p style="color:grey"><%= empdetails[i]["LEAVEREQUEST_TYPE"]["_text"]%></p>
  </td>
  <td>
    <p style="color:grey"><%= empdetails[i]["FROMLEAVE"]["_text"]%></p>
  </td>
  <td>
    <p style="color:grey"><%= empdetails[i]["TOLEAVE"]["_text"]%></p>
  </td>
  <td>
    <p style="color:grey"><%= empdetails[i]["REASONFORLEAVE"]["_text"]%></p>
  </td>
 

</tr>
<%}%>
</table>
</body>
</html>